---
import { getCollection, render } from "astro:content"
import Base from '../../layouts/Base.astro'

export async function getStaticPaths() {
    const noticias = await getCollection('noticias')
    return noticias.map(noticia => ({
    params: { id: noticia.id },
    props: { noticia }
    }))
}

const { noticia } = Astro.props
const { Content } = await render(noticia)
---

<Base titulo={noticia.data.titulo}>
    <article>
        <h1 class="text-4xl font-bold">{noticia.data.titulo}</h1>
        <p class="text-gray-500 mb-8">{noticia.data.fecha}</p>
        <Content />
    </article>
</Base>