---
import Base from '../layouts/Base.astro'
import { sedes } from '../data/sedes.ts'
import GruposSedes from '../components/GruposSedes.astro'

const sedesMexico = sedes.filter(sede => sede.pais === "México")
const sedesUSA = sedes.filter(sede => sede.pais === "USA")
const sedesCanada = sedes.filter(sede => sede.pais === "Canadá")
---

<Base titulo="Sedes">
	<h1 class="text-4xl font-bold">Sedes</h1>
	<p>Aquí veras las sedes</p>
    <GruposSedes pais='México' sedes={sedesMexico} />
    <GruposSedes pais='USA' sedes={sedesUSA} />
    <GruposSedes pais='Canadá' sedes={sedesCanada} />
</Base>