<nav class="flex gap-4 bg-black p-4 justify-center gap-8 text-white">
    <a href="/" class="hover:text-[#006847]">Index</a>
    <a href="/partidos" class="hover:text-[#006847]">Partidos</a>
    <a href="/sedes" class="hover:text-[#006847]">Sedes</a>
    <a href="/grupos" class="hover:text-[#006847]">Grupos</a>
    <a href="/noticias" class="hover:text-[#006847]">Noticias</a>
</nav>