<nav class="flex gap-4 bg-gray-900 text-white">
    <a href="/" class="hover:text-gray-300">Index</a>
    <a href="/partidos" class="hover:text-gray-300">Partidos</a>
    <a href="/sedes" class="hover:text-gray-300">Sedes</a>
    <a href="/grupos" class="hover:text-gray-300">Grupos</a>
    <a href="/noticias" class="hover:text-gray-300">Noticias</a>
</nav>